ul{
    list-style-type: none; text-align: center;
    padding: 10px; display: block;
    border-style: solid;   
}
li{
    display: inline-block;
}
li a{
    display: block; padding-left: 30px;
    padding-right: 30px; text-decoration: none;
}
.view{
    width: 500px;
    margin-left: 400px;
}
.error{
    color: red;
}
body{
    background-color:rgb(165, 165, 239);
}
.table1{
    font-size: 30px;
    font-style: oblique;
    width: 50%;
}
.backgr{
    background-image:url("");
}
.carousel{
    width: 1500px;
    height: 250px;
}
footer{
    background-color: gray;
}


